
@model IReadOnlyList<Microsoft.Azure.Management.Compute.Fluent.IVirtualMachine>

@{
    ViewData["Title"] = "Admin";
}
<head>

</head>


<div class="sub-navbar">
    <ul>
        <li><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="VMAdmin">Virtual Machines</a></li>
        <li><a href="#">Create VM</a></li>
        <li><a href="#">Storage</a></li>
    </ul>
</div>

<h1>Admin Centre</h1>


