
@model IReadOnlyList<Microsoft.Azure.Management.Compute.Fluent.IVirtualMachine>

@{
    ViewData["Title"] = "Admin";
}

<div class="sub-navbar">
    <ul>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="VMAdmin">Virtual Machines</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="VMCreate">Create VM</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Storage">Storage</a></li>
    </ul>
</div>

<h1>Admin Centre</h1>
