@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Archives2.0</h1>
    <p>(by Kamva Cloud Technologies)</p>
    <p></p>
    <p>Contact info@kamvacloud.co.za for support!</p>
   <p></p>
    <p>Learn about <a href="https://www.kamvacloud.co.za">Kamva Cloud Technologies</a>.</p>
</div>

